body{
    min-height: 100vh;
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
    background-repeat: repeat;
}
.txta{
    font-family: monospace;
    margin-left: 24%;
}
button{
	background-color: thistle;
    margin-left: 10%;
    margin-top: 6.25%;
	font-size: 2em;
	font-family: monospace;
	padding: 1px;
	border: none;
	border-radius: 5px;
	box-shadow: 6px 6px 20px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	outline: none;
	transition: 0.2s;
}
button:hover{
	transform: scale(1.1);
	box-shadow: 6px 6px 30px 4px rgba(0, 0, 0, 0.18);
}
button:active{
	transform: scale(0.98);
	box-shadow: 6px 6px 18px 2px rgba(0, 0, 0, 0.23);
}